


/* 控制所有社交图标大小（含 FontAwesome + Academicons + SVG） */

.contact-icons a i {
  font-size: 2.5rem !important;   /* 想要的大小 */
  line-height: 0.2 !important;
}

.contact-icons a svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

/* 让图标之间间距更美观（可选） */
.contact-icons a {
  margin: 0 1px !important;
}

/* 缩小社交栏的上下行距 */
.social {
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}

/* 缩小图标本身的高度导致的“行高空白” */
.contact-icons a i,
.contact-icons a svg {
  line-height: 0.8 !important;
  vertical-align: middle !important;
}



/* teams */
.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  // 4 columns
  gap: 24px;
  margin-top: 1.5rem;
}

.member {
  text-align: center;
}

.member img {
  width: 100%;
  aspect-ratio: 1 / 1;   // square images
  object-fit: cover;
  border-radius: 6px;
  transition: transform 0.2s ease;
}

// .member img:hover {
//   transform: scale(1.05);
// }


.member h4 a {
  text-decoration: none;
  color: #af07e7;
}

.member h4 a:hover {
  color: #016fc9;
  transform: scale(1.05);
}


.member p {
  font-size: 0.9rem;
  color: #000000;
  font-weight: 500;
  margin: 2px 0;   // 或 4px
  line-height: 1.3;
}

.member {
  padding: 12px;
}


h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #eee;
  padding-bottom: 6px;
  margin-top: 2rem;
}
